body {
    background-color: #d6d6d6;
}

header {
    background-color: beige;
    padding: 10px;
}

.content {
    width: calc(100%*2/3);
    padding: 10px;
    float: left;
}

[class^="col-"] {
    padding: 10px;
    float: left;
    overflow: auto;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: calc(100%*4/12);
}

.thumbnail {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    float: left;
}

.thumbnail img {
    width: 100%;
}

aside {
    padding: 10px;
    width: calc(100%/3);
    background-color: coral;
    float: left;
}

footer {
    padding: 10px;
    background-color: cornflowerblue;
    clear: left;
}
